@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
}
p {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}
img {
	display: block;
	width: 100%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

body {
	background-color: #fff;
}

@font-face {
	font-display: auto;
	font-family: ocean_wide;
	src: url("../Fonts/oceanwide-semibold-webfont.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
